.title {
  font-size: 4rem;
  font-family: "Monomaniac One", sans-serif;
}
.ProjectPage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.subtitle {
  color: rgb(105, 105, 105);
  margin-bottom: 1rem;
}
.description {
  background-color: white;
  opacity: 0.9;
  width: 20rem;
}
.img {
  width: 20rem;
}
