.title {
  font-size: 4rem;
  font-family: "Monomaniac One", sans-serif;
}
.smallProjectsPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: fadein 2s;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
}
.main {
  display: flex;
  gap: 2rem;
}
