.projectElement {
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  justify-content: space-between;
  width: 18rem;
  padding: 2rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 100%);

  opacity: 0.9;

  -webkit-box-shadow: 3px 0px 8px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 3px 0px 8px -4px rgba(66, 68, 90, 1);
  box-shadow: 3px 0px 8px -4px rgba(66, 68, 90, 1);
  cursor: pointer;
}

.projectElement img {
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-size: 1.8rem;
  font-family: "Monomaniac One", sans-serif;
}
.description {
  font-weight: 500;
}
@media (width<800px) {
  .projectElement {
    margin: 0 auto;
  }
}
