.navbar {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  margin-right: auto;
  max-width: 90rem;
  max-width: 90rem;
  margin-left: auto;
  width: 100%;
  padding: 0 2rem;
  align-items: center;
  font-family: "Monomaniac One", sans-serif;
  position: fixed;
  z-index: 1;
}

@keyframes fromleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fromright {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(0);
  }
}

.menu {
  display: flex;
  gap: 3rem;
  font-size: 1.2em;
  animation: fromright 1s;
}
.menu-el {
  all: unset;
  background-color: white;
  color: inherit;
  opacity: 0.9;
  cursor: pointer;
}
.menu-el:hover {
  text-shadow: rgba(0, 0, 0, 0.4) 0 4px 8px;
  transform: translateY(-2px);
}

.menu-el:active {
  box-shadow: none;
  transform: translateY(0);
}
@media (width<800px) {
  .navbar {
    background-color: white;
  }
}
