.navbar {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  align-items: center;
  font-family: "Monomaniac One", sans-serif;
  position: fixed;
  z-index: 1;
}
@media screen and (min-width: 90rem) {
  .navbar {
    margin-left: auto;
    margin-right: auto;
    width: 90rem;
    width: 90rem;
  }
}

@keyframes fromleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fromright {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(0);
  }
}

.menu {
  display: flex;
  gap: 3rem;
  font-size: 1.2em;
  animation: fromright 1s;
}
.menu-el {
  text-decoration: none;
  background-color: white;
  color: inherit;
  opacity: 0.9;
}
