.EducationElement {
  display: flex;
  gap: 2rem;
  max-width: 50rem;
  margin-top: 3rem;
  background-color: white;
  opacity: 0.9;
}
.date {
  color: grey;
  min-width: 8rem;
  border-right: 0.3rem solid grey;
  padding: 2rem 0;
}
.degree {
  font-size: 2rem;
  font-weight: 600;
}
.schoolName {
  margin-bottom: 1rem;
  color: #19a7ce;

  font-weight: 500;
}
.description {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  text-decoration: dotted;
  margin-left: 2rem;
  line-height: 1.3rem;
}
