.EducationPage {
  animation: fadein 2s;
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  height: 100vh;
  align-items: center;
}
.title {
  font-size: 4rem;
  width: max-content;
  font-family: "Monomaniac One", sans-serif;
}
.EducationElement {
  display: flex;
  gap: 2rem;
  max-width: 50rem;
  width: 100%;
  margin-top: 3rem;
  background-color: white;
  opacity: 0.9;
}
.date {
  color: grey;
  min-width: 8rem;
  border-right: 0.3rem solid grey;
  padding: 2rem 0;
}
.degree {
  font-size: 2rem;
  font-weight: 600;
}
.schoolName {
  margin-bottom: 1rem;
  color: #19a7ce;

  font-weight: 500;
}
.description {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  text-decoration: dotted;
  margin-left: 2rem;
  min-width: 30rem;
  line-height: 1.3rem;
}
@media (width<800px) {
  .title {
    text-align: center;
    width: 100%;
  }
  .EducationPage {
    position: static;
    height: auto;
    text-align: center;
  }
  .description {
    text-align: left;
    min-width: 10rem;

    ul li {
      list-style-type: none;
    }
  }
  .EducationElement {
    flex-direction: column;
  }
  .date {
    border-right: none;
    border-bottom: 0.1rem solid grey;
  }
}
